In [1]:
import re
import string
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [2]:
dfake = pd.read_csv('C:\\Users\\hamza\\Desktop\\projet de stage\\Fake.csv\\Fake.csv')
dtrue = pd.read_csv('C:\\Users\\hamza\\Desktop\\projet de stage\\True.csv\\True.csv')
dmelangetrain = pd.read_csv('C:\\Users\\hamza\\Desktop\\projet de stage\\fake-news\\train.csv')
dmelangetest = pd.read_csv('C:\\Users\\hamza\\Desktop\\projet de stage\\fake-news\\test.csv')

In [3]:
dfake = dfake.dropna()
dtrue = dtrue.dropna()
dmelangetest = dmelangetest.dropna()
dmelangetrain = dmelangetrain.dropna()

In [4]:
datafinal = pd.concat([dmelangetrain, dmelangetest], ignore_index=True)
datafinal.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1.0
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0.0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1.0
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1.0
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1.0

In [5]:
dtrue.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [6]:
dtrue['label'] = 1
dtrue.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [7]:
dfake['label'] = 0
dfake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [8]:
datafinal2 = pd.concat([dfake, dtrue], ignore_index=True)
datafinal2

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [9]:
datafinal = datafinal.drop(['title', 'id', 'author'] , axis=1)
datafinal2 = datafinal2.drop(['title', 'date', 'subject'] , axis=1)

In [10]:
datafinal

                                                    text  label
0      House Dem Aide: We Didn’t Even See Comey’s Let...    1.0
1      Ever get the feeling your life circles the rou...    0.0
2      Why the Truth Might Get You Fired October 29, ...    1.0
3      Videos 15 Civilians Killed In Single US Airstr...    1.0
4      Print \nAn Iranian woman has been sentenced to...    1.0
...                                                  ...    ...
22855  Pres. Trump on if “tapes” exist of his convers...    NaN
22856  Of all the dysfunctions that plague the world’...    NaN
22857  WASHINGTON  —   Gov. John Kasich of Ohio on Tu...    NaN
22858  Good morning. (Want to get California Today by...    NaN
22859  Perhaps you’ve seen the new TV series whose pi...    NaN

[22860 rows x 2 columns]

In [11]:
datafinal2

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
44894  LONDON (Reuters) - LexisNexis, a provider of l...      1
44895  MINSK (Reuters) - In the shadow of disused Sov...      1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...      1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

[44898 rows x 2 columns]

In [12]:
datafinal = pd.concat([datafinal, datafinal2], ignore_index=True)
datafinal

                                                    text  label
0      House Dem Aide: We Didn’t Even See Comey’s Let...    1.0
1      Ever get the feeling your life circles the rou...    0.0
2      Why the Truth Might Get You Fired October 29, ...    1.0
3      Videos 15 Civilians Killed In Single US Airstr...    1.0
4      Print \nAn Iranian woman has been sentenced to...    1.0
...                                                  ...    ...
67753  BRUSSELS (Reuters) - NATO allies on Tuesday we...    1.0
67754  LONDON (Reuters) - LexisNexis, a provider of l...    1.0
67755  MINSK (Reuters) - In the shadow of disused Sov...    1.0
67756  MOSCOW (Reuters) - Vatican Secretary of State ...    1.0
67757  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...    1.0

[67758 rows x 2 columns]

In [ ]:
#dataset finale

In [13]:
def transform_value(value): 
    if value == 1 or value == 1.0:
        return "False news"
    elif value == 0 or value == 0.0:
        return "True news"
    else:
        return value
datafinal['label'] = datafinal['label'].apply(transform_value)
datafinal

                                                    text       label
0      House Dem Aide: We Didn’t Even See Comey’s Let...  False news
1      Ever get the feeling your life circles the rou...   True news
2      Why the Truth Might Get You Fired October 29, ...  False news
3      Videos 15 Civilians Killed In Single US Airstr...  False news
4      Print \nAn Iranian woman has been sentenced to...  False news
...                                                  ...         ...
67753  BRUSSELS (Reuters) - NATO allies on Tuesday we...  False news
67754  LONDON (Reuters) - LexisNexis, a provider of l...  False news
67755  MINSK (Reuters) - In the shadow of disused Sov...  False news
67756  MOSCOW (Reuters) - Vatican Secretary of State ...  False news
67757  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...  False news

[67758 rows x 2 columns]